<section layout="column" layout-gt-xs="row" layout-padding layout-align="start center">
	<div layout layout-align="center" layout-align-gt-xs="start center" layout-wrap>
		<md-datepicker ng-model="dashVm.begin" md-max-date="dashVm.end"></md-datepicker>
		<md-datepicker ng-model="dashVm.end" md-min-date="dashVm.begin"></md-datepicker>
		<md-button hide-xs class="md-primary" ng-click="dashVm.getStat()" aria-label="Update Statistics">Update</md-button>
	</div>
	<span flex></span>
	<div layout layout-align="end center" flex>
		<md-button hide show-xs class="md-icon-button md-primary" ng-click="dashVm.getStat()" aria-label="Refresh">
			<md-icon>refresh</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="dashVm.exportDash($event)" aria-label="Export Dashboard">
			<md-icon>file_download</md-icon>
		</md-button>
		<md-button class="md-icon-button md-primary" ng-click="dashVm.openDashSettings($event)" aria-label="Open Dash Settings">
			<md-icon>settings</md-icon>
		</md-button>
	</div>
</section>

<md-divider layout flex></md-divider>

<section class="default-background" ng-repeat="kind in dashVm.options.kinds">
	<md-subheader layout="column" class="default-background mini-subhead">
		<span>{{::kind.name}}</span>
		<md-button class="md-primary" aria-label="Settings" ng-click="dashVm.openSettings($event, kind)">
			Settings
		</md-button>
	</md-subheader>
	<spinner name="{{::kind.name}}-loader"><md-progress-linear md-mode="indeterminate"></md-progress-linear></spinner>
	<div ng-if="!dashVm.stat[kind.name].taskid.length" layout layout-padding>
		<h3 class="md-headline" flex>No data for period</h3>
	</div>
	<div layout="row" layout-wrap ng-if="dashVm.stat[kind.name].taskid.length" ng-cloak>
		<div flex="30" flex-xs="100" flex-order="1">
			<md-card>
				<md-card-header>
					<md-card-header-text layout="column">
						<stat-card 
							flex 
							title="NCA"
							card-class="no-margin no-shadow"
							subhead="Number Calls Answered" 
							model="{{dashVm.stat[kind.name].nca | number: 0}}" 
							prevstat="{{dashVm.prevstat[kind.name].nca | diff:dashVm.stat[kind.name].nca }}"
							dynamics="{{dashVm.prevstat[kind.name].nca | diff:dashVm.stat[kind.name].nca:'dynamics'}}">
						</stat-card>
					</md-card-header-text>
				</md-card-header>
				<md-card-content layout-align="center">
					<canvas id="nc-chart" class="chart chart-doughnut"
					  chart-data="[dashVm.stat[kind.name].nca, (dashVm.stat[kind.name].nco - dashVm.stat[kind.name].nca)]" chart-labels="['Number Calls Answered', 'Not Answered Calls']" chart-legend="true" chart-colours="['#3F51B5', '#9E9E9E']">
					</canvas> 
				</md-card-content>
			</md-card>
		</div>

		<div flex="40" flex-xs="100" flex-order="2" flex-order-xs="-1" layout="row" layout-align="center start" layout-wrap>
			<div layout flex="grow">
				<stat-card
					ng-if="dashVm.data[kind.name].sl !== undefined"
					flex-value=""
					title="SL" 
					subhead="Service Level ({{dashVm.data[kind.name].sl}}), %" 
					model="{{ dashVm.stat[kind.name]['sl'+dashVm.data[kind.name].sl] | average: dashVm.data[kind.name].list.length | number: 0}}" 
					prevstat="{{ dashVm.prevstat[kind.name]['sl'+dashVm.data[kind.name].sl] | diff:dashVm.stat[kind.name]['sl'+dashVm.data[kind.name].sl] }}"
					dynamics="{{ dashVm.prevstat[kind.name]['sl'+dashVm.data[kind.name].sl] | diff:dashVm.stat[kind.name]['sl'+dashVm.data[kind.name].sl]:'dynamics' }}">
				</stat-card>
				<stat-card
					ng-if="dashVm.globalCr[kind.name] !== undefined"
					flex-value=""
					title="CRR" 
					subhead="Call Resolution Rate, %" 
					model="{{(dashVm.globalCr[kind.name] / dashVm.stat[kind.name].nca * 100) | number: 0}}" 
					prevstat="{{ dashVm.prevstat[kind.name].car | diff:dashVm.stat[kind.name].car }}"
					dynamics="{{ dashVm.prevstat[kind.name].car | diff:dashVm.stat[kind.name].car:'dynamics' }}">
				</stat-card>
			</div>
			<div layout flex="grow">
				<stat-card
					ng-if="dashVm.stat[kind.name].car !== undefined"
					flex-value=""
					title="CAR" 
					subhead="Call Answer Rate, %" 
					model="{{dashVm.stat[kind.name].car | average: dashVm.data[kind.name].list.length | number: 0}}" 
					prevstat="{{ dashVm.prevstat[kind.name].car | diff:dashVm.stat[kind.name].car }}"
					dynamics="{{ dashVm.prevstat[kind.name].car | diff:dashVm.stat[kind.name].car:'dynamics' }}">
				</stat-card>
				<stat-card
					ng-if="dashVm.stat[kind.name].asa !== undefined"
					flex-value=""
					title="ASA" 
					subhead="Average Speed of Answer" 
					model="{{dashVm.stat[kind.name].asa | average: dashVm.data[kind.name].list.length | timer}}" 
					prevstat="{{ dashVm.prevstat[kind.name].asa | diff:dashVm.stat[kind.name].asa }}"
					dynamics="{{ dashVm.prevstat[kind.name].asa | diff:dashVm.stat[kind.name].asa:'dynamics-reverse' }}">
				</stat-card>
			</div>
			<div layout flex="grow">
				<stat-card 
					flex-value=""
					title="NCO" 
					subhead="Number Calls Offered" 
					model="{{dashVm.stat[kind.name].nco | number: 0}}"
					prevstat="{{dashVm.prevstat[kind.name].nco | diff:dashVm.stat[kind.name].nco }}"
					dynamics="{{dashVm.prevstat[kind.name].nco | diff:dashVm.stat[kind.name].nco:'dynamics' }}">
				</stat-card>
				<stat-card 
					flex-value=""
					title="AHT" 
					subhead="Average Handle Time" 
					model="{{dashVm.stat[kind.name].aht | average: dashVm.data[kind.name].list.length | timer }}" 
					prevstat="{{dashVm.prevstat[kind.name].aht | diff:dashVm.stat[kind.name].aht }}">
				</stat-card>
			</div>
		</div>

		<div flex="30" flex-xs="100" flex-order="3">
			<md-card>
				<md-card-header>
					<md-card-header-text layout="column">
						<stat-card 
							flex="50" 
							title="ATT"
							card-class="no-margin no-shadow"
							subhead="Average Talk Time" 
							model="{{dashVm.stat[kind.name].att | average: dashVm.data[kind.name].list.length | timer }}" 
							prevstat="{{dashVm.prevstat[kind.name].att | diff:dashVm.stat[kind.name].att }}">
						</stat-card>
					</md-card-header-text>
				</md-card-header>
				<md-card-content layout="column" layout-align="center">
					<canvas id="nc-chart" class="chart chart-doughnut"
					  chart-data="[ (dashVm.stat[kind.name].att / (dashVm.data[kind.name].list.length || 1)).toFixed(1) , (dashVm.stat[kind.name].aht / (dashVm.data[kind.name].list.length || 1) - dashVm.stat[kind.name].att / (dashVm.data[kind.name].list.length || 1)).toFixed(1) ]" chart-labels="['Average Talk Time', 'Average Wrap Time']" chart-legend="true" chart-colours="['#3F51B5', '#9E9E9E']">
					</canvas> 
				</md-card-content>
			</md-card>
		</div>
	</div>
</section>
<section class="default-background">
	<div layout layout-align="center stretch" layout-wrap layout-fill>
		<md-card flex="100">
			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2 ng-if="dashVm.selectedCat">
						<span>{{dashVm.selectedCat[dashVm.options.cattable.columns.description]}} selected</span>
					</h2>
					<h2 ng-if="!dashVm.selectedCat">
						<span>Categories</span>
					</h2>
			        <span flex></span>
			        <md-button href="#" download="categories.xls" onclick="ExcellentExport.excel(this, 'category-table', 'Category Sheet');">.xlsx</md-button>
			        <md-button href="#" download="categories.csv" onclick="ExcellentExport.csv(this, 'category-table');">.csv</md-button>
					<md-button ng-if="dashVm.selectedCat" class="md-icon-button" ng-click="dashVm.onCatSelect(dashVm.selectedCat)" aria-label="Cancel selection">
						<i class="material-icons">close</i>
					</md-button>
				</div>
			</md-toolbar>
			<spinner name="categories-loader"><md-progress-linear md-mode="indeterminate"></md-progress-linear></spinner>
			<md-card-content layout="row" layout-wrap>
				<md-table-container flex="70" flex-xs="100" flex-order="1">
					<table md-table id="category-table">
						<thead md-head md-order="dashVm.options.catorder">
							<tr md-row>
								<th ng-if="!dashVm.selectedCat" md-column md-order-by="{{dashVm.options.cattable.columns.description}}">Category</th>
								<th ng-if="dashVm.selectedCat" md-column md-order-by="{{dashVm.options.subcattable.columns.description}}">Subcategory</th>
								<th md-column md-numeric md-order-by="'sl'+{{dashVm.data.Incoming_Agent.sl}}">SL, %</th>
								<th md-column md-numeric md-order-by="nca">NCA</th>
								<th md-column md-numeric md-order-by="nca_p">NCA, %</th>
								<th md-column md-numeric md-order-by="aht">AHT</th>
								<th md-column md-numeric md-order-by="aht_p">AHT, %</th>
								<th md-column md-numeric md-order-by="att">ATT</th>
								<th md-column md-numeric md-order-by="att_p">ATT, %</th>
								<th ng-if="dashVm.options.callstable.columns.callresult" md-column md-numeric>CR</th>
								<th ng-if="dashVm.options.callstable.columns.callresult" md-column md-numeric>CR, %</th>
							</tr>
						</thead>
						<tbody md-body>
							<tr md-row ng-if="dashVm.selectedCat" class="default-background">
								<td md-cell>{{::dashVm.selectedCat[dashVm.options.cattable.columns.description]}}</td>
								<td md-cell>{{::dashVm.selectedCat['sl'+dashVm.data.Incoming_Agent.sl] | number: 0}}</td>
								<td md-cell>{{::dashVm.selectedCat.nca | number: 0}}</td>
								<td md-cell>{{::dashVm.selectedCat.nca_p | number: 1}}</td>
								<td md-cell>{{::dashVm.selectedCat.aht | timer}}</td>
								<td md-cell>{{::dashVm.selectedCat.aht_p | number: 1}}</td>
								<td md-cell>{{::dashVm.selectedCat.att | timer}}</td>
								<td md-cell>{{::dashVm.selectedCat.att_p | number: 1}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::dashVm.selectedCat['sum(callresult)'] | number: 0}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::(dashVm.selectedCat['sum(callresult)'] / dashVm.selectedCat.nca * 100) | number: 1}}</td>
							</tr>
							<tr md-row ng-repeat="subcat in dashVm.subCatsStat | orderBy: dashVm.options.catorder" ng-click="dashVm.onSubCatSelect(dashVm.selectedCat[dashVm.options.callstable.columns.category], subcat[dashVm.options.subcattable.columns.id], $index)" class="clickable">
								<td md-cell>{{::subcat[dashVm.options.subcattable.columns.description]}}</td>
								<td md-cell>{{::subcat['sl'+dashVm.data.Incoming_Agent.sl] | number: 0}}</td>
								<td md-cell>{{::subcat.nca | number: 0}}</td>
								<td md-cell>{{::subcat.nca_p | number: 1}}</td>
								<td md-cell>{{::subcat.aht | timer}}</td>
								<td md-cell>{{::subcat.aht_p | number: 1}}</td>
								<td md-cell>{{::subcat.att | timer}}</td>
								<td md-cell>{{::subcat.att_p | number: 1}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::subcat['sum(callresult)'] | number: 0}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::(subcat['sum(callresult)'] / subcat.nca * 100) | number: 1}}</td>
							</tr>

							<tr md-row md-select="dashVm.selectedCat" ng-if="!dashVm.selectedCat" ng-click="dashVm.onCatSelect(cat, $index)" ng-repeat="cat in dashVm.catstat | orderBy: dashVm.options.catorder" ng-class="{'default-background': cat[dashVm.options.cattable.columns.description] === dashVm.selectedCat}" class="clickable">
								<td md-cell>{{::cat[dashVm.options.cattable.columns.description]}}</td>
								<td md-cell>{{::cat['sl'+dashVm.data.Incoming_Agent.sl] | number: 0}}</td>
								<td md-cell>{{::cat.nca | number: 0}}</td>
								<td md-cell>{{::cat.nca_p | number: 1}}</td>
								<td md-cell>{{::cat.aht | timer}}</td>
								<td md-cell>{{::cat.aht_p | number: 1}}</td>
								<td md-cell>{{::cat.att | timer}}</td>
								<td md-cell>{{::cat.att_p | number: 1}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::cat['sum(callresult)'] | number: 0}}</td>
								<td ng-if="dashVm.options.callstable.columns.callresult" md-cell>{{::(cat['sum(callresult)'] / cat.nca * 100) | number: 1}}</td>
							</tr>
						</tbody>
					</table>
				</md-table-container>
				<div layout layout-wrap layout-fill layout-margin layout-align="center start" flex="100" flex-gt-xs="30" flex-order="2" flex-order-xs="-1">
					<md-input-container flex="100">
						<label>Metric</label>
						<md-select ng-model="dashVm.catchartLabel" placeholder="Metric">
					    	<md-option ng-value="item.index" ng-repeat="item in dashVm.catMetrics">{{item.name}}</md-option>
						</md-select>
					</md-input-container>
					<canvas flex="100" id="cat-chart" class="chart chart-pie"
					  chart-data="dashVm.catchartData.data" chart-labels="dashVm.catchartData.labels" chart-legend="true" chart-colours="dashVm.catchartData.colours">
					</canvas>
				</div>
			</md-card-content>
		</md-card>
	</div>
</section>
