<md-dialog aria-label="Export Dashboard">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Export Dashboard ({{::dashExpVm.begin | date: 'shortDate'}} - {{::dashExpVm.end | date: 'shortDate'}})</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dashExpVm.close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-table-container>
            <table md-table id="dash-table">
                <thead md-head>
                    <tr md-row>
                        <th md-column>Task kind</th>
                        <th md-column>SL, %</th>
                        <th md-column>CAR, %</th>
                        <th md-column>NCO</th>
                        <th md-column>NCO, %</th>
                        <th md-column>NCA</th>
                        <th md-column>NCA, %</th>
                        <th md-column>NCU</th>
                        <th md-column>NCU, %</th>
                        <th md-column>AHT</th>
                        <th md-column>AHT, %</th>
                        <th md-column>ATT</th>
                        <th md-column>ATT, %</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="kind in dashExpVm.kinds">
                        <td md-cell>{{::kind.name}}</td>
                        <td md-cell>{{::dashExpVm.stat[kind.name]['sl' + dashExpVm.data[kind.name].sl] | average: dashExpVm.data[kind.name].list.length | number:0}}</td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].car | average: dashExpVm.data[kind.name].list.length | number:0}}</td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].nco}}</td>
                        <td md-cell></td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].nca}}</td>
                        <td md-cell></td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].ncu}}</td>
                        <td md-cell>{{ (dashExpVm.stat[kind.name].ncu / dashExpVm.stat[kind.name].nco * 100) | number:0 }}</td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].aht | average: dashExpVm.data[kind.name].list.length | duration:1}}</td>
                        <td md-cell></td>
                        <td md-cell>{{::dashExpVm.stat[kind.name].att | average: dashExpVm.data[kind.name].list.length | duration:1}}</td>
                        <td md-cell></td>
                    </tr>
                    <tr md-row>
                        <td md-cell colspan="11"><b>Category</b></td>
                    </tr>
                    <tr md-row ng-repeat="cat in dashExpVm.catstat | orderBy: -cat[dashExpVm.tables.categories.columns.description]">
                        <td md-cell>{{::cat[dashExpVm.tables.categories.columns.description]}}</td>
                        <td md-cell>{{::cat['sl'+sl] | number:0}}</td>
                        <td md-cell>{{::cat.car | number: 0}}</td>
                        <td md-cell>{{::cat.nco}}</td>
                        <td md-cell>{{::cat.nco_p | number:1}}</td>
                        <td md-cell>{{::cat.nca}}</td>
                        <td md-cell>{{::cat.nca_p | number:1}}</td>
                        <td md-cell></td>
                        <td md-cell></td>
                        <td md-cell>{{::cat.aht | duration: 1}}</td>
                        <td md-cell>{{::cat.aht_p | number:1}}</td>
                        <td md-cell>{{::cat.att | duration: 1}}</td>
                        <td md-cell>{{::cat.att_p | number:1}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button href="#" download="dashboard.xls" onclick="ExcellentExport.excel(this, 'dash-table', 'Dashboard Sheet');" ng-click="dashExpVm.export('xlsx')" class="md-primary">.xlsx</md-button>
        <md-button href="#" download="dashboard.csv" onclick="ExcellentExport.csv(this, 'dash-table');" ng-click="dashExpVm.export('csv')" class="md-primary">.csv</md-button>
        <md-button ng-click="dashExpVm.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>