<md-dialog flex="auto" aria-label="Report settings">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Report settings</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="compSettsVm.close()">
                <i class="material-icons">close</i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div layout="row" layout-gt-xs="row" layout-padding>
            <div layout="column" flex="100" flex-gt-xs="30">
                <md-subheader>Service Level</md-subheader>
                <div flex>
                    <md-select ng-model="compSettsVm.sl" aria-label="Service Level">
                        <md-option ng-value="item" ng-repeat="item in compSettsVm.sls">
                            {{item}}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <div layout="column" flex="100" flex-gt-xs="70">
                <md-subheader>Tasks</md-subheader>
                <md-list>
                    <md-checkbox ng-model="compSettsVm.allTasksSelected" ng-change="compSettsVm.selectAllTasks()" aria-label="Select All Tasks">
                            Select All
                    </md-checkbox>
                    <md-list-item ng-repeat="item in compSettsVm.tasks">
                        <md-checkbox ng-checked="compSettsVm.exists(item, compSettsVm.selectedTasks)" ng-click="compSettsVm.toggle(item, compSettsVm.selectedTasks)" aria-label="Selected tasks">
                        </md-checkbox>
                        {{item}}
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" aria-label="Save" ng-click="compSettsVm.save()">Submit</md-button>
        <md-button ng-click="compSettsVm.close()">Close</md-button>
    </md-dialog-actions>
</md-dialog>