.chart-labels {
	width: 100%;
	padding: 10px;
	list-style: none;

	li {
		padding: 5px;

		.chart-label-color {
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 10px;
		}
	}

	&.inline {
		li {
			display: inline-block;
		}
	}
}