.md-list-item-text {

	&:hover {
		background-color: #eee;
	}

	a {
		padding: 15px 0; 
		text-decoration: none;
		color: #555;

		span {
			font-size: 1.2em;
		}

		i {
			margin-right: 15px;
		}
	}

}